/* List View */
.list__container {
  height: 170px;
}

.card__container {
  position: relative;
  margin-bottom: 18px;
}

.card__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.0001) 9%,
    #888888 23.79%,
    #666666 50%,
    rgba(51, 51, 51, 0.6) 71.88%
  );
  z-index: 1;
}

.button__state {
  margin-right: 210px;
}

.list__button {
  height: 45px;
  width: 45px;
  text-align: center;
}

.card__thumbUp {
  background-color: rgba(var(--color-green-positive), 0.6);
}

.card__thumbDown {
  background-color: rgba(var(--color-yellow-negative), 0.6);
}

/* Grid View */

.grid__container {
  height: 351px;
  width: 351px;
}

.grid__button {
  height: 30px;
  width: 30px;
}

.hide {
  display: none;
}

/* media queries */

@media (max-width: 768px) {
  .card__gradient {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.0001) 16%,
      #888888 34.79%,
      #666666 50%,
      rgba(51, 51, 51, 0.6) 71.88%
    );
  }
}
